.note-list {
  overflow: hidden;
}

ul.note-list li {
  width: 100%;
  list-style-type: none;
  border: 1px var(--c-grid-borders) solid;
  border-top: none;
  padding: 12px;

  &:focus-within {
    filter: brightness(0.95);
  }
}

ul.note-list.outer > li:first-of-type {
  border-top: 1px var(--c-grid-borders) solid;
}

.note-list.outer {
  display: block;
}

.note-list .line {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .view-hover {
    cursor: default;
    opacity: 0;
    transition: opacity 0.1s;
  }

  &:hover .view-hover, &:focus-within .view-hover {
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.1s;
  }

  .item-title {
    cursor: pointer;
  }

  .left-group {
    display: inline-flex;
    align-items: center;
  }

  .right-group {
    min-width: max-content;
    display: flex;
    align-items: center;
  }
}

.note-list {
  span.left-group :first-child {
    min-width: 24px;
  }
}

.note-list-section {
  position: relative;
  background-color: var(--c-brand-main);
  color: var(--c-headings-text);
  z-index: 1;
}

.note-list-item {
  background-color: whitesmoke;
}

.open {
  .section-chevron {
    transform: rotate(0deg);
  }
}

.closed {
  &.note-list{
    display: none;
  }

  .section-chevron {
    transform: rotate(-90deg);
  }
}